/* Demo Fonts */

@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/* CodeMirror Imports */

@import url("codemirror.css");
@import url("monokai.css");
@import url("foldgutter.css");

/* Demo Layout */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 10px;
  color: #efefef;
  background-color: #272822;
}

.container, footer, header {
  position: relative; margin: .5em;
  font-size: 14px;
}

.container h3 {
  border-bottom: 1px solid #585858;
  padding: 8px;
  margin: 0;
}

.container .left h3 {
  background-color: #2f6a9e;
}

.container .right h3 {
  background-color: #329e2f;
}

.left, .right {
  min-height: 400px;
  height: 400px;
  border: 1px solid #585858;
}

.left {
  margin-bottom: .5em;
}

.CodeMirror {
  height: 364px !important;
}

.panel {
  background: #7A2716;
  padding: 3px 7px;
  font-size: 12px;
}

.remove-panel {
  float: right;
  cursor: pointer;
}

.panel.top, .panel.after-top {
  border-bottom: 1px solid #585858;
}
.panel.bottom, .panel.before-bottom {
  border-top: 1px solid #585858;
}

footer, header {
  padding: 0.5em;
  color: #dbdbdb;
}

footer h3, header h2 {
  width: 500px;
}

footer h3 {
  margin: 0 auto;
  text-align: center;
}

footer a, footer a:visited {
  color: #2f6a9e;
  text-decoration: none;
}

footer a:hover, footer a:active {
  color: #329e2f;
  text-decoration: underline;

}

@media screen and (min-width: 84.75em ) {
  .right, .left {
    min-height: 800px;
    height: 800px;
  }

  .left {
    margin-right: 49.5em;
  }

  .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 48.75em;
  }

  .CodeMirror {
    height: 764px !important;
  }
}
