.border {
  border: 1px solid #E03210;
}
.remove-panel {
  float: right;
  cursor: pointer;
}
.panel {
  background: #7A2716;
  padding: 3px 7px;
  font-size: 12px;
}
.panel.top, .panel.after-top {
  border-bottom: 1px solid #585858;
}
.panel.bottom, .panel.before-bottom {
  border-top: 1px solid #585858;
}
