/* Demo Layout */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 10px;
  color: #efefef;
  background-color: #272822;
}

#container, footer, header {
  position: relative;
  margin: 8px;
  font-size: 14px;
  line-height: 16px;
}

.left {
  margin-bottom: 8px;
  border: 1px solid #d7782c;
}

.right {
  border: 1px solid #77A025;
  transition: all 0.75s;
}

.right.alert {
  border: 1px solid #E42267;
}

#container h3 {
  padding: 8px;
  margin: 0;
  height: 32px;
  font-weight: normal;
}

#container .left h3 {
  background-color: #ec9652;
  color: #aa5714;
  border-bottom: 1px solid #d7782c;
}

#container .right h3 {
  background-color: #daf6a1;
  color: #557B0A;
  border-bottom: 1px solid #77A025;
  transition: all 0.75s;
}

#container .right.alert h3 {
  background-color: #fca4c3;
  color: #CB0048;
  border-bottom: 1px solid #E42267;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.CodeMirror {
  height: 361px !important;
}

#container.shy .CodeMirror, #container.shy textarea {
  display: none;
}

footer, header {
  color: #dbdbdb;
  padding: 0;
}

footer h3, header h2 {
  width: 360px;
  font-weight: normal;
}

footer h3 {
  margin: 0 auto;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
}

a, a:visited {
  color: #e6db74;
  text-decoration: none;
}

a:hover, a:active {
  color: #FFF7A8;
  text-decoration: none;

}

@media screen and (min-width: 996px) {
  .right {
    position: absolute;
    top: 0;
    right: 0;
  }

  .CodeMirror {
    height: 764px !important;
  }
}

@media screen and (max-width: 1233px) and (min-width: 996px) {

  .left {
    margin-right: 488px;
  }

  .right {
    width: 480px;
  }
}

@media screen and (max-width: 1501px) and (min-width: 1234px) {
  .left {
    margin-right: 622px;
  }

  .right {
    width: 614px;
  }
}

@media screen and (min-width: 1502px) {
  .left {
    margin-right: 755px;
  }

  .right {
    width: 747px;
  }
}
